body {
  margin: 0;
  padding: 0;
  background-color: #001f3f; /* Fondo azul oscuro marino */
  color: white;
  font-family: 'Roboto', sans-serif;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
